.header{
    padding: 3px;
    margin: 0;
    padding-right: 110px;
    padding-left: 100px;
    font-size: 35px;
    color: orangered;
    background-color: rgb(170, 78, 78);
    animation-name: mtendere;
    animation-duration: 20s;
    animation-iteration-count: infinite;
        
    }
    
    @keyframes mtendere {
        0% {color: red;}
        25% {color: yellow; }
        50% {color: orangered;}
        75% {color: blueviolet;}
        100% {color: aqua;}
        0% {background-color: rgb(170, 78, 78);}
        25% {background-color: green;}
        50% {background-color: lightgray;}
        75% {background-color:#ffeaa7;}
        100% {background-color: brown;}
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
    padding-left: 50px;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: darkgreen;
  }

.title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.goal {
    display: flex;
    align-items: stretch;
}

.statement {
    width: 50%;
    font-size: 30px;
    font-weight: 700;
}

.stable {
    padding-left: 250px;
}

.left {
    padding-left: 150px;
    padding-right: 90px;
    font-size: 18px;
    color: grey;
    font-family: inherit;
    font-weight: 500;
}

.storry {
    padding-left: 250px;
    padding-right: 250px;
    font-size: 18px; 
    
}

img {
    width: 1250px;
    height: 300px;
}

.member {
    width: 250px;
    height: 550px;
}