.header{
    padding: 3px;
    margin: 0;
    padding-right: 110px;
    padding-left: 100px;
    font-size: 35px;
    color: rgb(184, 244, 194);
    background-color: rgb(50 70 80);
    }
    .one {
      animation-name: Qassomar;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  
  @keyframes Qassomar{
      0%{color: green;}
      25%{color: chartreuse;}
      50%{color: brown;}
      75%{color: blueviolet;}
      100%{color: gold;}
  }
    
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
    padding-left: 50px;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: darkgreen;
  }

.title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.goal {
    display: flex;
    align-items: stretch;
}

.statement {
    width: 50%;
    font-size: 30px;
    font-weight: 700;
}

.stable {
    padding-left: 250px;
}

.left {
    padding-left: 150px;
    padding-right: 90px;
    font-size: 18px;
    color: grey;
    font-family: inherit;
    font-weight: 500;
}

.storry {
    padding-left: 250px;
    padding-right: 250px;
    font-size: 18px; 
    
}

img {
    width: 1250px;
    height: 300px;
}

.member {
    width: 300px;
    height: 600px;
}