body{
    background: url(img/qassomar.png)no-repeat;
    background-size: cover;
    lighting-color:hsl(217, 89%, 20%) ;
}

.header{
  padding: 3px;
  margin: 0;
  padding-right: 110px;
  padding-left: 110px;
  font-size: 35px;
  color: rgb(184, 244, 194);
  background-color: rgb(50 70 80);
  }

  .one {
    animation-name: Qassomar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Qassomar{
    0%{color: green;}
    25%{color: chartreuse;}
    50%{color: brown;}
    75%{color: blueviolet;}
    100%{color: gold;}
}
  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: left;
  padding-left: 50px;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: darkgreen;
}

.css-typing p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 20.5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    
  }
  .css-typing p:nth-child(1) {
    width: 20em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 25em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 13em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  

  .css-typing p:nth-child(4) {
    width: 30em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(5) {
    width: 33em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(6) {
    width: 20em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(7) {
    width: 41em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(8) {
    width: 25em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(9) {
    width: 42em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  
  .css-typing p:nth-child(10) {
    width: 30em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(11) {
    width: 35em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }  

  .css-typing p:nth-child(12) {
    width: 30em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 22s;
    animation-delay: 22s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(13) {
    width: 30em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .css-typing p:nth-child(14) {
    width: 21em;
    opacity: 0;
    -webkit-animation: type3 2s steps(40, end);
    animation: type3 2s steps(40, end);
    -webkit-animation-delay: 26s;
    animation-delay: 26s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }


  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type4 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type4 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    100% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    100% {
      border-color: tranparent;
    }
  }

  p {
    color: white;
  }

  .text1-padding {
    padding-bottom: 30px;
  }

  .text1-padding2 {
    padding-bottom: 20px;
  }

  .text1-padding3 {
    padding-bottom: 40px;
  }

  @media (max-width: 1231px) {
    .header {
      font-size: 35px;
      padding-right: 110px;
      padding-left: 110px;
      padding: 3px;
    }

    li {
      padding-left: 50px;
    }

    li a {
      padding: 14px 16px;
    }
  }

  @media (max-width: 1150px) {
    .header {
      font-size: 35px;
      padding-right: 103.125px;
      padding-left: 103.125px;
      padding: 2.8125px;
    }

    li {
      padding-left: 46.875px;
    }

    li a {
      padding: 14px 16px;
    }
  }

  @media (max-width: 1100px) {
    .header {
      font-size: 35px;
      padding-right: 96.25px;
      padding-left:  96.25px;
      padding: 2.625px;
    }

    li {
      padding-left: 43.75px;
    }

    li a {
      padding: 13.5px 15.5px;
    }
  }

  @media (max-width: 1050px) {
    .header {
      font-size: 30px;
      padding-right: 89.375px;
      padding-left:  89.375px;
      padding: 2.4375px;
    }

    li {
      padding-left: 40.625px;
    }

    li a {
      padding: 13.5px 15.5px;
    }
  }

  @media (max-width: 1000px) {
    .header {
      font-size: 30px;
      padding-right: 82.5px;
      padding-left:  82.5px;
      padding: 2.25px;
    }

    li {
      padding-left: 37.5px;
    }

    li a {
      padding: 13px 15px;
    }
  }

  @media (max-width: 950px) {
    .header {
      font-size: 28px;
      padding-right: 75.625px;
      padding-left:  75.625px;
      padding: 2.0625px;
    }

    li {
      padding-left: 34.375px;
    }

    li a {
      padding: 13px 15px;
    }
  }

  @media (max-width: 900px) {
    .header {
      font-size: 27px;
      padding-right: 68.75px;
      padding-left:  68.75px;
      padding: 1.875px;
    }

    li {
      padding-left: 31.25px;
    }

    li a {
      padding: 12px 14px;
    }
  }

  @media (max-width: 850px) {
    .header {
      font-size: 26px;
      padding-right: 61.875px;
      padding-left:  61.875px;
      padding: 1.6875px;
    }

    li {
      padding-left: 28.125px;
    }

    li a {
      padding: 11.5px 13.5px;
    }
  }

  @media (max-width: 800px) {
    .header {
      font-size: 25px;
      padding-right: 55px;
      padding-left:  55px;
      padding: 1.5px;
    }

    li {
      padding-left: 25px;
    }

    li a {
      padding: 11.5px 13.5px;
    }
  }

  @media (max-width: 750px) {
    .header {
      font-size: 25px;
      padding-right: 48.125px;
      padding-left:  48.125px;
      padding: 1.3125px;
    }

    li {
      padding-left: 22px;
    }

    li a {
      padding: 5.5px 7.5px;
    }
  }

  @media (max-width: 700px) {
    .header {
      font-size: 25px;
      padding-right: 41.25px;
      padding-left:  41.25px;
      padding: 1.125px;
    }

    li {
      padding-left: 18.75px;
    }

    li a {
      padding: 2px 4px;
    }
  }

  @media (max-width: 650px) {
    .header {
      font-size: 25px;
      padding-right: 34.375px;
      padding-left:  34.375px;
      padding: 0.9375px;
    }

    li {
      padding-left: 16px;
    }

    li a {
      padding: 1px 2px;
    }
  }

  @media (max-width: 600px) {
    .header {
      font-size: 25px;
      padding-right: 27.5px;
      padding-left:  27.5px;
      padding: 0.75px;
    }

    li {
      padding-left: 13px;
    }

    li a {
      padding: 0.3333333333px 0.666666666px;
    }
  }